.App {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.main__header {
  font-size: 64px;
  margin-bottom: 64px;
}

