.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  width: 20vw;
  height: 32px;
  margin-bottom: 32px;
}

.input {
  margin-bottom: 32px;
}
