.Card {
    margin-bottom: 32px;
    background-color: #eec4c4;
    padding: 16px;

    &__header {
        margin: 0;
        padding: 4px;
    }

    &__date {
        margin: 0 0 16px 0;
        padding: 4px;
    }

    &__photo {
        width: 300px;
        height: auto;
    }

    &__describe {
        max-width: 300px;
        margin: 0;
        padding: 4px;
    }
}
